{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "content" }}
  <div class="animate-fadeIn hidden hero min-h-screen" ref="form">
    <div class="hero-content flex flex-col items-center gap-10">
      <h1 class="text-5xl font-bold">Einstellungen</h1>
      <form class="grid gap-5" @submit.prevent="saveChanges" @reset.prevent="setValuesToStore">
        <div class="form-control">
          <label class="label" for="midday">
            <span class="label-text">Mittagszeit</span>
          </label>
          <select :class="{ 'select-warning': !cleanSelectedTime }" v-model="state.selectedTime" class="select bg-base-100 w-full text-right">
            <option v-for="option in timeOptions" :key="option.val" :value="option.val">${option.text}</option>
          </select>
        </div>
        <div class="form-control">
          <label for="priceAdjustment" class="label">
            <span class="label-text">Preisreduzierung</span>
          </label>
          <label class="input-group">
            <input
              autocomplete="off"
              id="priceAdjustment"
              :class="{ 'input-error': error, 'input-warning': !cleanPriceAdjustment }"
              v-model="state.priceAdjustment"
              @keyup.esc="state.priceAdjustment = ''"
              placeholder="0,00"
              class="input bg-base-100 w-full text-right"
            />
            <span class="bg-base-100">€</span>
          </label>
        </div>
        <div class="w-full flex justify-between gap-2">
          <button :disabled="disabled" class="btn btn-secondary" type="reset">Zurücksetzen</button>
          <button :disabled="disabled" class="btn btn-primary" type="submit">Speichern</button>
        </div>
        ${clean}
      </form>
    </div>
  </div>
{{ end }}

{{ define "js" }}
  <script type="text/javascript" src="/static/js/moment.min.js"></script>
  <script type="module">
    import { createApp } from "/static/js/vue.esm-browser.prod.js";

    const SETTINGS_LOCAL_STORAGE = "mittag_settings";
    const DEFAULT_SETTINGS = { selectedTime: "1300", priceAdjustment: "0,00" };

    function generateMiddayOptions() {
      const tmp = [];
      const start = moment().hour(10).minute(30);
      for (let i = 0; i < 9; i++) {
        const newTime = start.add(30, "m");
        tmp.push({ val: newTime.format("HHmm"), text: newTime.format("HH:mm") + " Uhr" });
      }
      return tmp;
    }

    const app = createApp({
      data() {
        return {
          settings: DEFAULT_SETTINGS,
          timeOptions: generateMiddayOptions(),
          state: DEFAULT_SETTINGS,
          validate: {
            price: (value) => value !== "" && /^\d*([.,]\d+)?$/.test(value),
          },
        };
      },
      mounted() {
        const ls = localStorage.getItem(SETTINGS_LOCAL_STORAGE);
        if (ls) {
          const parsed = JSON.parse(ls);
          if (parsed.priceAdjustment < 0) {
            parsed.priceAdjustment = (parseFloat(parsed.priceAdjustment) * -1).toFixed(2);
            this.storeSettings(parsed);
          }
          this.state = { ...parsed, priceAdjustment: parsed.priceAdjustment.replace(".", ",") };
          this.settings = { ...this.state };
        }
        this.$refs.form.classList.remove("hidden");
      },
      computed: {
        cleanPriceAdjustment() {
          return this.state.priceAdjustment === this.settings.priceAdjustment;
        },
        cleanSelectedTime() {
          return this.state.selectedTime === this.settings.selectedTime;
        },
        error() {
          return !this.validate.price(this.state.priceAdjustment);
        },
        disabled() {
          return (this.cleanSelectedTime && this.cleanPriceAdjustment) || this.error;
        },
      },
      methods: {
        saveChanges() {
          if (this.disabled) return;
          this.storeSettings(this.state);
        },
        storeSettings(newSettings) {
          const formattedPrice = parseFloat(newSettings.priceAdjustment.replace(",", ".")).toFixed(2);
          localStorage.setItem(SETTINGS_LOCAL_STORAGE, JSON.stringify({ ...newSettings, priceAdjustment: formattedPrice }));
          this.settings = { ...newSettings, priceAdjustment: formattedPrice.replace(".", ",") };
          this.setValuesToStore();
        },
        setValuesToStore() {
          this.state = { ...this.settings };
        },
      },
    });
    app.config.compilerOptions.delimiters = ["${", "}"];
    app.mount("#app");
  </script>
{{ end }}
