<!DOCTYPE html>
<html lang="de" class="bg-base-300">
  <head>
    <meta charset="UTF-8" />
    <title>{{ block "title" . }}Mittag{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A blazing fast start-page for services written in Go " />
    <meta name="theme-color" content="#d07915" />

    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
    <link rel="stylesheet" href="/static/css/style.css?v={{ env "APP_VERSION" }}" />
    {{ block "style". }}{{ end }}
  </head>

  <body id="app">
    {{ block "modal" . }}{{ end }}
    {{ block "icons" . }}{{ end }}

    {{ define "link" }}
      <a href="{{ index . 0 }}">
        <svg class="icon">
          <use href="#{{ index . 1 }}"></use>
        </svg>
        {{ index . 2 }}
      </a>
    {{ end }}


    <div class="drawer lg:drawer-open">
      <input id="drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <div class="z-10 flex-none absolute top-3 left-3 lg:hidden">
          <label for="drawer" class="btn btn-square btn-ghost">
            <svg class="icon">
              <use href="#bars"></use>
            </svg>
          </label>
        </div>
        <div class="relative">{{ block "content" . }}{{ end }}</div>
      </div>
      <div class="drawer-side z-20">
        <label for="drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-72 h-full bg-base-100 text-base-content overflow-y-auto gap-1 flex-nowrap">
          <li>{{ block "link" list "/countdown" "clock" "Countdown" }}{{ end }}</li>
          <span class="h-5 shrink-0"></span>
          {{ range .Navigation }}
            {{ range . }}
              {{ $link := printf "%s%s" "/restaurants/" .ID }}
              <li>{{ block "link" list $link "restaurant" .Name }}{{ end }}</li>
            {{ end }}
            <span class="h-5 shrink-0"></span>
          {{ end }}
          <span class="h-5 shrink-0 flex-grow"></span>
          <li class="disabled">
            <div class="cursor-default">
              <svg class="icon"><use href="#version"></use></svg> {{ env "APP_VERSION" }}
            </div>
          </li>
          <li>{{ block "link" list "/settings" "system" "Einstellungen" }}{{ end }}</li>
        </ul>
      </div>
    </div>

    {{ block "js" . }}{{ end }}
    <script>
      const links = document.querySelectorAll(`ul.menu > li > a[href="${location.pathname}"]`);
      for (const link of links) {
        link.classList.add('active');
      }
    </script>
  </body>
</html>
