@import "tailwindcss";
@plugin "daisyui";

@plugin 'daisyui/theme' {
  name: corporate;
  default: true;
  prefersdark: false;
  --color-neutral: #d1d1d1;
  --color-neutral-content: #333333;
}

@plugin 'daisyui/theme' {
  name: business;
  default: false;
  prefersdark: true;
  --color-neutral: #181818;
  --color-neutral-content: #eeeeee;
}

@utility container {
  margin-inline: auto;
  padding: 2rem 1rem;
}

@utility btn {
  @apply rounded-r-xl rounded-l-xl shadow-none hover:shadow-none;
}

@utility my-btn {
  @apply btn btn-sm w-full;
}

@utility my-card {
  @apply relative grid gap-2 flex-shrink-0;
}

@utility card-grid {
  @apply grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5;
}
