@import "tailwindcss";
@plugin "daisyui";

@plugin 'daisyui/theme' {
  name: autumn;
  default: true;
  prefersdark: false;
  --color-primary: #822a17;
  --color-secondary: #f9ddb4;
  --color-secondary-content: #333333;
}

@plugin 'daisyui/theme' {
  name: dark;
  default: false;
  prefersdark: true;
  --color-primary: #f9ddb4;
  --color-secondary: #822a17;
  --color-primary-content: #333333;
}

@layer base {
  .font-outline {
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;

    @variant dark {
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media (width >= theme(--breakpoint-xl)) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@utility btn {
  @apply btn-sm rounded-r-xl rounded-l-xl btn-soft hover:shadow-none flex flex-col items-center;
}

@utility my-card {
  @apply relative grid gap-2 flex-shrink-0;
}
