@import "tailwindcss";
@plugin "daisyui";

@plugin 'daisyui/theme' {
  name: autumn;
  default: true;
  prefersdark: false;
  --color-primary: #d29336;
  --color-secondary: #9b7e3b;
  --color-secondary-content: #333333;
}

@plugin 'daisyui/theme' {
  name: dark;
  default: false;
  prefersdark: true;
  --color-primary: #d29336;
  --color-secondary: #9b7e3b;
  --color-primary-content: #333333;
}

@utility container {
  margin-inline: auto;
}

@utility btn {
  @apply rounded-r-xl rounded-l-xl btn-soft hover:shadow-none;
}

@utility my-btn {
  @apply btn btn-sm w-full;
}

@utility my-card {
  @apply relative grid gap-2 flex-shrink-0;
}

@utility card-grid {
  @apply grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5;
}
