{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "content" }}
  {{ $restDay := isRestDay .Restaurant }}
  {{ $nothingFound := nothingFound .Restaurant }}
  {{ if or $restDay $nothingFound }}
    <div class="z-20 -rotate-12 absolute top-20 left-1/2 transform -translate-x-1/2">
      {{ if $restDay }}
        <div class="alert alert-warning shadow-lg">
          <svg class="icon"><use href="#info"></use></svg>
          <span>Heute kein Mittagstisch</span>
        </div>
      {{ else }}
        <div class="alert shadow-lg">
          <svg class="icon"><use href="#warning"></use></svg>
          <span>Kein Mittagstisch gefunden</span>
        </div>
      {{ end }}
    </div>
  {{ end }}
  <div class="{{ if or $restDay $nothingFound }}grayscale opacity-50 animate-fadeIn50{{ else }}animate-fadeIn{{ end }} container-custom mt-12 lg:mt-5">
    <div class="flex flex-col items-center gap-5">
      <div class="mt-10 relative w-full max-w-4xl h-[150px]">
        <div
          class="absolute inset-0 rounded-xl bg-cover bg-center"
          style="background-image: url('/storage/maps/{{ .Restaurant.ID }}.webp?{{ env "APP_VERSION" }}')"
        ></div>
        <div class="text-center bg-primary text-primary-content rounded-xl px-3 py-2 absolute -top-8 left-1/2 transform -translate-x-1/2 text-3xl md:text-4xl">
          {{ .Restaurant.Name }}
        </div>
      </div>

      <div class="flex flex-col gap-1 items-center">
        <div class="flex justify-center gap-1">
          {{ if and .Restaurant.Card.ImageURL .Restaurant.Card.Food }}
            <button onclick="my_modal.showModal()" class="btn btn-sm btn-primary gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="currentColor" viewBox="0 0 512 512">
                <path
                  d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"
                />
              </svg>
              Speisekarte
            </button>
          {{ end }}
          <a target="_blank" class="btn btn-sm btn-secondary gap-2" href="{{ .Restaurant.PageURL }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="currentColor" viewBox="0 0 512 512">
              <path
                d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              />
            </svg>
            Webseite
          </a>
        </div>

        <a href="tel:{{ .Restaurant.Phone }}" class="btn btn-sm gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-xs" fill="currentColor" viewBox="0 0 512 512">
            <path
              d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"
            />
          </svg>
          {{ .Restaurant.Phone }}
        </a>
      </div>

      <div class="text-xl font-bold text-center">{{ .Restaurant.Card.Description }}</div>

      {{ if .Restaurant.Card.Food }}
        <div class="w-full max-w-4xl grid gap-4">
          {{ range .Restaurant.Card.Food }}
            {{ $today := isToday . }}
            {{ $notRestDay := not $restDay }}
            <div class="{{ if and $today $notRestDay }}food-card{{ else }}food-card-disabled{{ end }} overflow-hidden">
              <div class="overflow-hidden">
                {{ if .Day }}<div class="text-sm">{{ .Day }}</div>{{ end }}
                <div class="font-bold text-lg">{{ .Name }}</div>
                {{ if .Description }}<div class="text-sm">{{ .Description }}</div>{{ end }}
              </div>
              {{ if .Price }}
                {{ $price := printf "%.2f" .Price }}
                {{ $price := $price | replace "." "," }}
                <div class="price badge badge-lg badge-primary whitespace-nowrap">{{ $price }} €</div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      {{ else if .Restaurant.Card.ImageURL }}
        <div class="w-full max-w-lg cursor-zoom-in" onclick="my_modal.showModal()">
          {{ $sizes := imageSize .Restaurant.Card.ImageURL }}
          {{ $height := index $sizes 0 }}
          {{ $width := index $sizes 1 }}
          <img width="{{ $width }}" height="{{ $height }}" class="rounded-xl" src="/{{ .Restaurant.Card.ImageURL }}?{{ now | date "2006-01-02" }}" />
        </div>
      {{ end }}

      {{ if not $nothingFound }}
        <div class="text-xs text-gray-500">Aktualisiert: {{ .Restaurant.Card.CreatedAt | date "02.01.06 15:04" }}</div>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ define "modal" }}
  {{ if .Restaurant.Card.ImageURL }}
    {{ $sizes := imageSize .Restaurant.Card.ImageURL }}
    {{ $height := index $sizes 0 }}
    {{ $width := index $sizes 1 }}
    <dialog id="my_modal" class="modal">
      <form method="dialog" class="modal-box p-0 max-w-6xl">
        <img width="{{ $width }}" height="{{ $height }}" class="rounded-xl w-full" src="/{{ .Restaurant.Card.ImageURL }}?{{ now | date "2006-01-02" }}" />
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  {{ end }}
{{ end }}

{{ define "js" }}
  <script>
    const SETTINGS_LOCAL_STORAGE = 'mittag_settings';

    let priceReduction = 0;
    const prices = document.querySelectorAll('.price');
    const ls = localStorage.getItem(SETTINGS_LOCAL_STORAGE);
    if (ls) {
      const parsed = JSON.parse(ls);
      priceAdjustment = parsed.priceAdjustment;
      for (price of prices) {
        const parsedPrice = parseFloat(price.innerText.replace(',', '.'));
        price.innerText = (parsedPrice - priceAdjustment).toFixed(2).replace('.', ',') + ' €';
      }
    }
  </script>
{{ end }}
