{{ define "title" }}
{{ .BaseData.Title }}
{{ end }}

{{ define "content" }}
{{ $restDay := isRestDay .RestaurantData.Restaurant }}
<div class="{{ if $restDay }}
      grayscale opacity-50
    {{ else }}
      animate-fadeIn
    {{ end }} container flex flex-col justify-start gap-6 py-1 md:py-5 px-2">
  {{ $nothingFound := nothingFound .RestaurantData.Card }}
  {{ if or $restDay $nothingFound }}
  <div class="z-40 -rotate-12 absolute top-14 left-1/2 transform -translate-x-1/2">
    {{ if $restDay }}
    <div class="alert alert-warning shadow-lg">
      <iconify-icon class="text-sm" icon="mdi:circle-info"></iconify-icon>
      <span>Heute Ruhetag</span>
    </div>
    {{ end }}
  </div>
  {{ end }}
  <header>
    <div class="flex items-center gap-5 growing-padding">
      <div class="rounded-xl bg-primary w-[120px] h-[120px] hidden md:block" {{
        .RestaurantData.Restaurant.Directus.Thumbnail }}></div>

      <div class="flex flex-col items-start gap-2 p-2 flex-wrap overflow-hidden">
        <div class="text-2xl font-bold">{{ .RestaurantData.Restaurant.Name }}</div>
        <a class="btn btn-sm overflow-hidden"
          href="https://www.google.com/maps/search/?api=1&query={{ .RestaurantData.Restaurant.Address }}"
          target="_blank">
          <div class="truncate">
            <iconify-icon class="text-sm" icon="fa6-solid:map-pin"></iconify-icon>
            <span class='truncate'>{{ .RestaurantData.Restaurant.Address }}</span>
          </div>
        </a>
        <div class="flex gap-2 flex-wrap">
          <a class="btn btn-sm" href="tel:{{ .RestaurantData.Restaurant.Phone }}">
            <iconify-icon class="text-sm" icon="fa6-solid:phone"></iconify-icon>
            {{ .RestaurantData.Restaurant.Phone }}
          </a>
          <a class="btn btn-sm" href="{{ .RestaurantData.Restaurant.PageURL }}">
            <iconify-icon class="text-sm" icon="fa6-solid:arrow-up-right-from-square"></iconify-icon>
            Webseite
          </a>
          {{ if and .RestaurantData.Card.ImageURL .RestaurantData.Card.Food }}
          <div onclick="my_modal.showModal()" class="btn btn-sm btn-primary">
            <iconify-icon class="text-sm" icon="fa6-solid:image"></iconify-icon>
            Speisekarte
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </header>

  <main class="flex-1 overflow-hidden overflow-y-auto">
    {{ if .RestaurantData.Card.Food }}
    <div class="grid gap-4 max-h-full overflow-y-auto">
      <div class="text-3xl font-bold ml-4">{{ .RestaurantData.Card.Description }}</div>
      {{ range .RestaurantData.Card.Food }}
      {{ $today := isToday . }}
      {{ $notRestDay := not $restDay }}
      <div class="{{ if and $today $notRestDay }}food-card{{ else }}food-card-disabled{{ end }} overflow-hidden">
        <div class="overflow-hidden">
          {{ if .Day }}<div class="text-sm">{{ .Day }}</div>{{ end }}
          <div class="font-bold text-lg">{{ .Name }}</div>
          {{ if .Description }}<div class="text-sm">{{ .Description }}</div>{{ end }}
        </div>
        {{ if .Price }}
        {{ $price := printf "%.2f" .Price }}
        {{ $price := $price | replace "." "," }}
        <div class="price badge badge-lg badge-primary whitespace-nowrap">{{ $price }} €</div>
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ else if .RestaurantData.Card.ImageURL }}
    <div class="text-gray-500 font-semibold">Speisekarte konnte nicht geparsed werden</div>
    {{ if .RestaurantData.Card.ImageURL }}
    <div onclick="my_modal.showModal()" class="btn btn-sm btn-primary">
      <iconify-icon class="text-sm" icon="fa6-solid:image"></iconify-icon>
      Speisekarte
    </div>
    {{end}}
    {{ else if $nothingFound }}
    <div class="text-gray-500 font-semibold">Kein Mittagstisch gefunden</div>
    {{ end }}
  </main>
</div>
{{ end }}

{{ define "modal" }}
{{ if .RestaurantData.Card.ImageURL }}
{{ $sizes := imageSize .RestaurantData.Card.ImageURL }}
{{ $height := index $sizes 0 }}
{{ $width := index $sizes 1 }}
<dialog id="my_modal" class="modal">
  <form method="dialog" class="modal-box p-0 max-w-6xl">
    <img width="{{ $width }}" height="{{ $height }}" class="rounded-lg w-full"
      src="/{{ .RestaurantData.Card.ImageURL }}" />
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
  </form>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
{{ end }}
{{ end }}

{{ define "js" }}
<script>
  const SETTINGS_LOCAL_STORAGE = 'mittag_settings';

  let priceReduction = 0;
  const prices = document.querySelectorAll('.price');
  const ls = localStorage.getItem(SETTINGS_LOCAL_STORAGE);
  if (ls) {
    const parsed = JSON.parse(ls);
    priceAdjustment = parsed.priceAdjustment;
    for (price of prices) {
      const parsedPrice = parseFloat(price.innerText.replace(',', '.'));
      price.innerText = (parsedPrice - priceAdjustment).toFixed(2).replace('.', ',') + ' €';
    }
  }
</script>
{{ end }}