{{ define "title" }}
  {{ .BaseData.Title }}
{{ end }}

{{ define "content" }}
  {{ $restDay := isRestDay .RestaurantData.Restaurant }}
  <div
    class="{{ if $restDay }}
      grayscale opacity-50 animate-fadeIn50
    {{ else }}
      animate-fadeIn
    {{ end }} container-custom grid grid-cols-1 2xl:grid-cols-4 gap-3 2xl:gap-10 relative"
  >
    {{ $nothingFound := nothingFound .RestaurantData.Card }}
    {{ if or $restDay $nothingFound }}
      <div class="z-20 -rotate-12 absolute top-40 left-1/2 transform -translate-x-1/2">
        {{ if $restDay }}
          <div class="alert alert-warning shadow-lg">
            <svg class="icon"><use href="#info"></use></svg>
            <span>Heute Ruhetag</span>
          </div>
        {{ end }}
      </div>
    {{ end }}
    <div class="col-span-1 flex flex-col 2xl:h-screen pt-20 2xl:py-20 gap-5 justify-start 2xl:sticky 2xl:top-0">
      <div class="flex flex-col items-end gap-2">
        <div class="text-4xl font-bold">{{ .RestaurantData.Restaurant.Name }}</div>
        {{ if and .RestaurantData.Card.ImageURL .RestaurantData.Card.Food }}
          <button onclick="my_modal.showModal()" class="btn btn-xs btn-primary gap-2">
            Speisekarte <svg class="inline-block w-4 h-4 stroke-current"><use href="#menu"></use></svg>
          </button>
        {{ end }}
        <div class="flex items-center gap-2 flex-wrap justify-end">
          <a target="_blank" class="btn btn-xs btn-secondary gap-2" href="{{ .RestaurantData.Restaurant.PageURL }}">
            Webseite <svg class="inline-block w-4 h-4 stroke-current"><use href="#external"></use></svg>
          </a>

          <a href="tel:{{ .RestaurantData.Restaurant.Phone }}" class="btn btn-xs btn-secondary gap-2">
            {{ .RestaurantData.Restaurant.Phone }} <svg class="inline-block w-4 h-4 stroke-current"><use href="#phone"></use></svg>
          </a>
        </div>

        <div class="flex flex-col items-end gap-2">
          <div class="badge badge-ghost rounded gap-2">
            {{ .RestaurantData.Updated }} <svg class="inline-block w-4 h-4 stroke-current"><use href="#scan"></use></svg>
          </div>
          <div class="badge badge-ghost rounded gap-2">
            {{ .RestaurantData.Refreshed }} <svg class="inline-block w-4 h-4 stroke-current"><use href="#refresh"></use></svg>
          </div>
        </div>
      </div>
      <figure
        class="hidden 2xl:flex flex-1 bg-cover bg-center max-h-[42rem] rounded-lg relative"
        style="background-image: url('/storage/public/maps/{{ .RestaurantData.Restaurant.ID }}.webp?{{ env "APP_VERSION" }}')"
      >
        <div class="flex flex-col gap-2 items-end absolute right-4 bottom-4">
          <div class="badge rounded gap-2">
            {{ .RestaurantData.Card.Distance }} <svg class="inline-block w-4 h-4 stroke-current"><use href="#sign"></use></svg>
          </div>
          <div class="badge rounded gap-2">
            {{ .RestaurantData.Card.Duration }} <svg class="inline-block w-4 h-4 stroke-current"><use href="#car"></use></svg>
          </div>
        </div>
      </figure>
    </div>
    <div class="col-span-1 2xl:col-span-3">
      {{ if .RestaurantData.Card.Food }}
        <div class="grid gap-4 py-5 2xl:mt-20 2xl:py-20">
          {{ range .RestaurantData.Card.Food }}
            {{ $today := isToday . }}
            {{ $notRestDay := not $restDay }}
            <div class="{{ if and $today $notRestDay }}food-card{{ else }}food-card-disabled{{ end }} overflow-hidden">
              <div class="overflow-hidden">
                {{ if .Day }}<div class="text-sm">{{ .Day }}</div>{{ end }}
                <div class="font-bold text-lg">{{ .Name }}</div>
                {{ if .Description }}<div class="text-sm">{{ .Description }}</div>{{ end }}
              </div>
              {{ if .Price }}
                {{ $price := printf "%.2f" .Price }}
                {{ $price := $price | replace "." "," }}
                <div class="price badge badge-lg badge-primary whitespace-nowrap">{{ $price }} €</div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      {{ else if .RestaurantData.Card.ImageURL }}
        <div class="h-screen py-20">
          {{ $sizes := imageSize .RestaurantData.Card.ImageURL }}
          {{ $height := index $sizes 0 }}
          {{ $width := index $sizes 1 }}
          <img
            onclick="my_modal.showModal()"
            width="{{ $width }}"
            height="{{ $height }}"
            class="object-contain object-center 2xl:object-left cursor-zoom-in max-h-full"
            src="/{{ .RestaurantData.Card.ImageURL }}"
          />
        </div>
      {{ else if $nothingFound }}
        <div class="h-screen flex justify-start items-center text-gray-500">Kein Mittagstisch gefunden</div>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ define "modal" }}
  {{ if .RestaurantData.Card.ImageURL }}
    {{ $sizes := imageSize .RestaurantData.Card.ImageURL }}
    {{ $height := index $sizes 0 }}
    {{ $width := index $sizes 1 }}
    <dialog id="my_modal" class="modal">
      <form method="dialog" class="modal-box p-0 max-w-6xl">
        <img width="{{ $width }}" height="{{ $height }}" class="rounded-xl w-full" src="/{{ .RestaurantData.Card.ImageURL }}" />
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  {{ end }}
{{ end }}

{{ define "js" }}
  <script>
    const SETTINGS_LOCAL_STORAGE = 'mittag_settings';

    let priceReduction = 0;
    const prices = document.querySelectorAll('.price');
    const ls = localStorage.getItem(SETTINGS_LOCAL_STORAGE);
    if (ls) {
      const parsed = JSON.parse(ls);
      priceAdjustment = parsed.priceAdjustment;
      for (price of prices) {
        const parsedPrice = parseFloat(price.innerText.replace(',', '.'));
        price.innerText = (parsedPrice - priceAdjustment).toFixed(2).replace('.', ',') + ' €';
      }
    }
  </script>
{{ end }}
