{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "content" }}
  <div class="animate-fadeIn flex flex-col gap-10 min-h-screen items-center justify-center">
    <div class="grid grid-flow-col gap-5 text-center auto-cols-max">
      <div class="flex flex-col">
        <span class="countdown font-mono text-6xl lg:text-7xl" :class="timerClass(countdown.hour)">
          <span :style="timerStyle(countdown.hour)"></span>
        </span>
        <span class="text-gray-500">Stunden</span>
      </div>
      <div class="flex flex-col">
        <span class="countdown font-mono text-6xl lg:text-7xl" :class="timerClass(countdown.minute)">
          <span :style="timerStyle(countdown.minute)"></span>
        </span>
        <span class="text-gray-500">Minuten</span>
      </div>
      <div class="flex flex-col">
        <span class="countdown font-mono text-6xl lg:text-7xl" :class="timerClass(countdown.second)">
          <span :style="timerStyle(countdown.second)"></span>
        </span>
        <span class="text-gray-500">Sekunden</span>
      </div>
    </div>
    {{ $length := len .Random }}
    {{ if gt $length 0 }}
      <div class="stats stats-vertical w-full max-w-sm">
        {{ range .Random }}
          <a class="stat" href="/restaurants/{{ .ID }}">
            <div class="stat-figure text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 512 512">
                <path
                  d="M403.8 34.4c12-5 25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V160H352c-10.1 0-19.6 4.7-25.6 12.8L284 229.3 244 176l31.2-41.6C293.3 110.2 321.8 96 352 96h32V64c0-12.9 7.8-24.6 19.8-29.6zM164 282.7L204 336l-31.2 41.6C154.7 401.8 126.2 416 96 416H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c10.1 0 19.6-4.7 25.6-12.8L164 282.7zm274.6 188c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V416H352c-30.2 0-58.7-14.2-76.8-38.4L121.6 172.8c-6-8.1-15.5-12.8-25.6-12.8H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c30.2 0 58.7 14.2 76.8 38.4L326.4 339.2c6 8.1 15.5 12.8 25.6 12.8h32V320c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64z"
                />
              </svg>
            </div>
            <div class="stat-title">Zufälliges Restaurant</div>
            <div class="stat-value truncate">{{ .Name }}</div>
            <div class="stat-desc">{{ .Group }}</div>
          </a>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}

{{ define "js" }}
  <script type="text/javascript" src="/static/js/moment.min.js"></script>
  <script type="module">
    import { createApp } from '/static/js/vue.esm-browser.prod.js';

    const SETTINGS_LOCAL_STORAGE = 'mittag_settings';

    const app = createApp({
      data() {
        return {
          settings: { selectedTime: '1300' },
          countdownStatus: { almostDone: false, over: false },
          countdown: { hour: 0, minute: 0, second: 0 },
        };
      },
      mounted() {
        const ls = localStorage.getItem(SETTINGS_LOCAL_STORAGE);
        if (ls) {
          const parsed = JSON.parse(ls);
          this.settings.selectedTime = parsed.selectedTime;
        }
        this.update();
        setInterval(() => this.update(), 1000);
      },
      computed: {
        midday() {
          const hour = parseInt(this.settings.selectedTime.substring(0, 2));
          const minute = parseInt(this.settings.selectedTime.substring(2, 4));
          return moment().hours(hour).minute(minute).second(0);
        },
      },
      methods: {
        timerStyle(value) {
          return '--value:' + value + ';';
        },
        timerClass(value) {
          if (this.countdownStatus.almostDone && !this.countdownStatus.over) return 'text-warning';
          else if (this.countdownStatus.over) return 'text-error';
          else return '';
        },
        update() {
          const diff = this.midday.diff(moment());
          if (diff <= 0) {
            this.countdownStatus.over = true;
            this.countdown.hour = 0;
            this.countdown.minute = 0;
            this.countdown.second = 0;
          } else {
            this.countdownStatus.over && (countdownStatus.over = false);
            this.countdownStatus.almostDone = diff > 0 && diff <= 3600000 ? true : false;
            this.countdown.hour = Math.floor((diff % 86400000) / 3600000);
            this.countdown.minute = Math.floor((diff % 3600000) / 60000);
            this.countdown.second = Math.floor((diff % 60000) / 1000);
          }
        },
      },
    });
    app.config.compilerOptions.delimiters = ['${', '}'];
    app.mount('#app');
  </script>
{{ end }}
