{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "title": "Mittagstisch API",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "mittag.unjx.de",
    "basePath": "/api/v1",
    "paths": {
        "/restaurants": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "restaurants"
                ],
                "summary": "Get all restaurants",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/services.Restaurant"
                            }
                        }
                    }
                }
            }
        },
        "/restaurants/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "restaurants"
                ],
                "summary": "Get a single restaurant",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Restaurant ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/services.Restaurant"
                        }
                    },
                    "404": {
                        "description": "Can not find ID",
                        "schema": {
                            "$ref": "#/definitions/echo.HTTPError"
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "restaurants"
                ],
                "summary": "Upload a menu",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer \u003cAdd access token here\u003e",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Restaurant ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "Menu File",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "API-Token",
                        "name": "token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok"
                    },
                    "404": {
                        "description": "Can not find ID",
                        "schema": {
                            "$ref": "#/definitions/echo.HTTPError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "echo.HTTPError": {
            "type": "object",
            "required": [
                "message"
            ],
            "properties": {
                "message": {}
            }
        },
        "services.Crop": {
            "type": "object",
            "required": [
                "height",
                "offset_x",
                "offset_y",
                "width"
            ],
            "properties": {
                "height": {
                    "type": "integer"
                },
                "offset_x": {
                    "type": "integer"
                },
                "offset_y": {
                    "type": "integer"
                },
                "width": {
                    "type": "integer"
                }
            }
        },
        "services.DayOfWeek": {
            "type": "string",
            "enum": [
                "Sunday",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday"
            ],
            "x-enum-varnames": [
                "Sunday",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday"
            ]
        },
        "services.Group": {
            "type": "string",
            "enum": [
                "Degerloch",
                "Fasanenhof",
                "Feuerbach",
                "Köngen",
                "Leinfelden-Echterdingen",
                "Nürtingen"
            ],
            "x-enum-varnames": [
                "Degerloch",
                "Fasanenhof",
                "Feuerbach",
                "Koengen",
                "LeinfeldenEchterdingen",
                "Nuertingen"
            ]
        },
        "services.Parse": {
            "type": "object",
            "required": [
                "is_file",
                "navigate",
                "pdf",
                "scan"
            ],
            "properties": {
                "is_file": {
                    "type": "boolean"
                },
                "navigate": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.Selector"
                    }
                },
                "pdf": {
                    "type": "boolean"
                },
                "scan": {
                    "$ref": "#/definitions/services.Scan"
                }
            }
        },
        "services.Restaurant": {
            "type": "object",
            "required": [
                "address",
                "description",
                "group",
                "icon",
                "id",
                "image_url",
                "name",
                "page_url",
                "parse",
                "phone",
                "price",
                "rest_days"
            ],
            "properties": {
                "address": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "group": {
                    "$ref": "#/definitions/services.Group"
                },
                "icon": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "image_url": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "page_url": {
                    "type": "string"
                },
                "parse": {
                    "$ref": "#/definitions/services.Parse"
                },
                "phone": {
                    "type": "string"
                },
                "price": {
                    "type": "integer"
                },
                "rest_days": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.DayOfWeek"
                    }
                }
            }
        },
        "services.Scan": {
            "type": "object",
            "required": [
                "crop",
                "fixed_bottom",
                "fixed_top",
                "viewport_width"
            ],
            "properties": {
                "crop": {
                    "$ref": "#/definitions/services.Crop"
                },
                "fixed_bottom": {
                    "type": "number"
                },
                "fixed_top": {
                    "type": "number"
                },
                "viewport_width": {
                    "type": "integer"
                }
            }
        },
        "services.SearchBy": {
            "type": "string",
            "enum": [
                "css",
                "x-path",
                "name",
                "regex",
                "js"
            ],
            "x-enum-varnames": [
                "CSS",
                "XPath",
                "Name",
                "Regex",
                "JS"
            ]
        },
        "services.Selector": {
            "type": "object",
            "required": [
                "attribute",
                "prefix",
                "regex",
                "search",
                "search_by"
            ],
            "properties": {
                "attribute": {
                    "type": "string"
                },
                "prefix": {
                    "type": "string"
                },
                "regex": {
                    "type": "string"
                },
                "search": {
                    "type": "string"
                },
                "search_by": {
                    "$ref": "#/definitions/services.SearchBy"
                }
            }
        }
    }
}